.chart-cont
{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* The users panel acessible only to admins */
.admin-users
{
	/* Style top button */
	.page-titler a.default
	{
		position: relative;
		top: -5px;
		left: 5px;
	}
	/* Force names to two lines to keep grid */
	.user-box .name
	{
		height: 44px;
		overflow-y: auto;
	}
}

.pretty-list
{
  list-style-type: none;
  text-align: left;
}