<table id="main" class="inner">
	<tbody>
		<tr>
			<td>
				<p>
					Event Invites Test
				</p>
			</td>
		</tr>
		<tr>
			<td id="footer">
				<img id="footer-ibs" alt="Carpe Logo" src="https://s3-us-west-2.amazonaws.com/carpe-indigobox/email/email-foot-top.png"><br><br>
				Made by IndigoBox in Chicago.
				<span class="break"><br><br></span>
				<span class="visit-ibs"> IndigoBox Studios - <%= Time.current.year %>  ·  <a href="http://indigobox.us" class="complement-blue">Visit Our Site</a></span>
			</td>
		</tr>
	</tbody>
</table>
