<style>
  #welcome {
    margin-top:7px;
    margin-bottom:-14px;
  }
</style>

<tr>
  <td id="welcome">
    <h1>Welcome to Carpe, <%= @user.name %>!</h1>
  </td>
</tr>
<tr>
  <td>
    <p>
      Thanks for joining. Your account has been set up under this email: <strong><%= @user.email %></strong>.
    </p>
    <p>
      You should receive an email to confirm your email address on Carpe.
      You'll need to confirm your email to continue use Carpe, as after
      <strong>24 hours</strong> you won't be able to login without confirming
      your email!
    </p>
    <p>
      Thanks again for signing up in the early stages, and we hope you enjoy Carpe!
    </p>
    <p class="centered">
      <%= link_to "Go to Dashboard", root_url, :class => "cta-button" %>
    </p>
  </td>
</tr>
