<% user_group = basic_user_block %>

<div class="basic-member-block user-listing grey-box">
  <%= link_avatar user_group.user %>

  <div class="user-details">
    <span class="name"><%= user_group.user.name %></span><br>
    <span class="role"><%= user_group.role %></span>
  </div class="user-details">
</div>