<% n_members = "#{group.members.count} #{'Member'.pluralize(group.members.count)}"%>

<div class="large-card grey-box">
  <div class="flex-cont">
    <%= link_avatar group %>

    <main>
      <%= link_to group.name, group, class: "normal title" %>
      <h3 class="members"><%= n_members %></h3>

      <% if current_user.in_group? group %>
        <h3>You're already in this group!</h3>
      <% else %>
          <%= link_to "Join Group", join_group_path(group), class: "wide button" %>
      <% end %>
    </main>
  </div>
</div>
