<div class="small-card grey-box">
<%= link_avatar group, size: 64 %>

<main>
  <%= link_to group.name, group, class: [:normal, :title] %>
  <%= link_to("Leave Group", leave_group_path(group), class: "red button") %>
</main>
</div>
