<%= stylesheet_link_tag "groups" %>

<div id="body">
  <aside class="shaded sidebar">
    <h2>Groups You Belong To</h2>
    <% if current_user.groups.empty? %>
      <h4> You don't belong to any groups! Join a group and it will show up here. </h4>
    <% else %>
      <%= render partial: "small_group_card", collection: current_user.groups, as: :group %>
    <% end %>
  </aside>

  <main class="content">
    <div id="groups-list-header">
      <div id="header-info">
        <div id="groups-title">
          <h2>Groups</h2>
        </div>
        <%= link_to "+ Create Group", new_group_path, class: "large green button" %>
      </div>

      <p>The groups listed below are all public. Check your notifications for private group invitations.</p>
    </div>

    <div class="groups-list">
      <% if @joinable_groups %>
        <main class="flex-list">
          <%= render partial: "big_group_card", collection: @joinable_groups, as: :group %>
        </main>
      <% else %>
        <h4> There are no public groups you don't belong to on Carpe, but that means you can make one! Create a public group and all Carpe users will see it here. </h4>
      <% end %>
    </div>
  </main>
</div>
