<%= stylesheet_link_tag "groups" %>

<div id="body">
  <aside class="shaded sidebar">
    <h2>Groups You Belong To</h2>
    <% unless current_user.groups.empty? %>
      <%= render partial: "small_group_card", collection: current_user&.groups&.all, as: :group %>
    <% else %>
      <h4> You don't belong to any groups! Join a group and it will show up here. </h4>
    <% end %>
  </aside>

  <main class="content">
    <div id="groups-list-header">
      <div id="header-info">
        <div id="groups-title">
          <h2>Groups</h2>
        </div>
        <%= link_to "+ Create Group", new_group_path, class: "large green button" %>
      </div>

      <p>The groups listed below are all public. Check your notifications for private group invitations.</p>
    </div>

    <div class="groups-list">
      <% if @joinable_groups %>
        <% @joinable_groups.each do |group| %>
          <%= render partial: "big_group_card", locals:{group:group} %>
        <% end %>
      <% else %>
        <h4> There are no public groups you don't belong to on Carpe, but that means you can make one! Create a public group and all Carpe users will see it here. </h4>
      <% end %>
    </div>

    <main class="flex-list js-lazy-loading-list" data-next-page-path="<%#= path_to_next_page @visible_groups %>"></main>
  </main>
</div>
