<h2 class="no-bold">Followers
	<% if current_user and !@profile %>
		<!--
		<span style="font-size: 18px;">(
			<% mut = current_user.mutual_friends(@user).count %>
			<% if mut > 0 #only link if there are some %>
				<a href="?p=mutual_friends" class="normal">	<%= mut %> Mutual </a>
			<% else %>
				<%= mut %> Shared
			<% end %>
			)
		</span>
		-->
	<% end %>
</h2>
<div id="friend-list">
<% if @all_friends.empty? %>
	<span class="empty-text">
		<% if @profile %>
			It looks like you don't have any followers yet.
		<% else %>
			It looks like <%= @user.name.split(" ")[0] %> doesn't have any followers yet.
		<% end %>
	</span>
<% else %>
	<% for active_relationship in @all_friends %>
		<!-- List followers -->
		<%= render "shared/user_box_horizontal", user: active_relationship.follower, relationship: active_relationship %>
	<% end %>
<% end%>
</div>
