<% if user == current_user %>
	<span class="friend-label">You</span>
<% else %>
	<% status = current_user.follow_status(user) %>
	<% if status == nil #not following %>
		<%= link_to relationships_path(:followed_id => user.id), :method => :post, :remote => true, :class => "default green friend-button", "uid" => user.id do %>
			<span>Follow</span>
		<% end %>
	<% elsif status == "confirmed" %>
		<% relationship = Relationship.where(followed_id: user.id, follower_id: current_user.id).first %>
		<%= link_to relationship_path(relationship), :method => :delete, :remote => true, :class => "default following-btn", "fid" => relationship.id do %>
			<span>Following</span>
		<% end %>
	<% elsif status == "pending" || status == "denied" %>
		<span class="friend-label">Pending</span>
	<% end %>
<% end %>