<h2 class="no-bold">Friends
	<% if current_user and !@profile %>
		<span style="font-size: 18px;">(
			<% mut = current_user.mutual_friends(@user).count %>
			<% if mut > 0 #only link if there are some %>
				<a href="?p=mutual_friends" class="normal">	<%= mut %> Mutual </a>
			<% else %>
				<%= mut %> Shared
			<% end %>
			)
		</span>
	<% end %>
</h2>
<div id="friend-list">
<% if @all_friends.empty? %>
	<span class="empty-text">
		<% if @profile %>
			It looks awfully empty here... add some connections to fill it up!
		<% else %>
			It looks like <%= @user.name.split(" ")[0] %> doesn't have any connections yet.
		<% end %>
	</span>
<% else %>
	<% for arr in @all_friends %>
		<% friendship = arr[0]; user = arr[1] %>
		<%= render "shared/user_box_horizontal", user: user, friendship: friendship %>
	<% end %>
<% end%>
</div>
