<% if user == current_user %>
	<span class="friend-label">You</span>
<% else %>
	<% status = current_user.follow_status(user) %>
	<% if status == nil #not friends %>
		<!--
		<%= link_to friendships_path(:friend_id => user), :method => :post, :remote => true, :class => "default green friend-button", "uid" => user.id do %>
			<span>Add Friend</span>
		<% end %>
		-->
		<%= form_for(current_user.active_relationships.build) do |f| %>
			<div><%= hidden_field_tag :followed_id, @user.id %></div>
			<%= f.submit "Follow", class: "default green friend-button" %>
		<% end %>
	<% elsif status == "friend" %>
		<span class="friend-label">Friend</span>
	<% elsif status == "pending" || status == "denied" %>
		<span class="friend-label">Pending</span>
	<% end %>
<% end %>