<% if user == current_user %>
	<span class="friend-label">You</span>
<% else %>
	<% status = current_user.friend_status(user) %>
	<% if status == nil #not friends %>
		<%= link_to friendships_path(:friend_id => @user), :method => :post, :class => "default green", :remote => true do %>
			<span>Add Friend</span>
		<% end %>
	<% elsif status == "friend" %>
		<span class="friend-label">Friend</span>
	<% elsif status == "pending" || status == "denied" %>
		<span class="friend-label">Pending...</span>
	<% end %>
<% end %>