<h2 class="no-bold">Mutual Friends</h2>
<% if @mutual_friends.empty? %>
	<span class="empty-text">
		It looks like you don't have any mutual friends with <%= @user.name %>!
	</span>
<% else %>
	<div id="friend-list">
		<% for user in @mutual_friends %>
				<div class="friend-listing" style="width: 300px">
					<a href="/u/<%= user.id %>">
						<div class="avatar" style="float: left">
							<img src="<%= user.user_avatar(100) %>">
						</div>
					</a>
					<div class="friend-details">
						<span class="friend-name"><%= user.name %></span><br>
					</div>
				</div>
		<% end %>
	</div>
<% end %>