<h2 class="no-bold">Schedule</h2>

<% categories = Category.where(user_id: @user.id) %>
<% if categories.empty? %>
	<h3 class="no-bold">Woops! It looks like <%= @user.name %> hasn't made any categories yet.</h3>
<% else %>
	<div style="background-color: grey; display: inline-block; padding-bottom: 10px; padding-right: 10px;">
		<% categories.each do |cat| %>
			<div class="sch-evnt category" 
				style="background-color: <%= cat.color %>; position: relative; float: left; margin-left: 10px;">
			<%= cat.name %>
			</div>
		<% end %>
	</div>
<% end %>
