<h2 class="no-bold zero-bot">Schedule <span style="font-size: 18px;">( Read Only )</span></h2>
<% @read_only = true %>
<div class="left-align">
	Time Zone: <b><%= @user.home_time_zone %></b>
	<%= image_tag "question-circle.svg", width: 15, class: "question-tooltip", title: "This user's schedule has been automatically converted to your current local time zone." %>
</div>
<%= render "shared/schedule"%>