<% content_for :title do %> - View Users<% end %>
<div class="page-container admin-users">
	<h1 class="page-titler">
		Users
		<a href="/admin" class="default" style="position: relative; top: -5px; left: 5px; font-size: 14px;"><span>Admin Panel</span></a>
	</h1>

	<% if not @users.empty? %>
		<% @users.each do |user| %>
			<%= render "shared/user_box", user: user %>
		<% end %>
	<% else %>
		<h2>There's no users but you!</h2>
	<% end %>
</div>
