<% content_for :title do %> - View Users<% end %>
<%= stylesheet_link_tag "pages/admin" %>

<div class="page-container admin-users">
	<h1 class="page-titler">
		Users
		<%= link_to_block "Admin Panel", admin_page_url, :class=>"default" %>
	</h1>

	<% if not @users.empty? %>
		<% @users.each do |user| %>
			<%= render "shared/user_box", user: user %>
		<% end %>
	<% else %>
		<h2>There's no users but you!</h2>
	<% end %>
</div>
