<h1><%= @user.name %></h1>

<% if @user == current_user %>
<h2>My Profile</h2>
<% end %>
<h3>Friends</h3>
<ul>
	<% for friendship in @user.friendships %>
		<li><%= friendship.friend.name %></li>(<%= link_to "remove", friendships_path(:id => friendship.id), :method => :delete %>)
	<% end %>
	<%# Inverse friends are when the other person added you, so conveniently, we can who added who. %>
	<% for user in @user.inverse_friends %>
		<li><%= user.name %>
	<% end %>
</ul>
