<h1><%= @user.name %></h1>

<% if @user == current_user %>
<h2>My Profile</h2>
<% end %>
<h3>Friends</h3>
<ul>
	<% for friendship in @user.friendships %>
		<li><%= friendship.friend.name %></li>(<%= link_to "remove", friendships_path(:id => friendship.id), :method => :delete %>)
	<% end %>
</ul>
