<% content_for :title do %> - Schedule<% end %>
<h1 class="no-bold zero-bot">
	My Schedule
	<span id="embed-button" class="default orange">Embed</span>
</h1>
<br>

<%= render "shared/schedule", embedded: @embedded, read_only: @read_only, user: @user %>