<!-- Load VueJS, the dist for prod, dev otherwise -->
<% if Rails.env.production? %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js" %>
<% else %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/vue@2.6.6" %>
<% end %>

<%= javascript_include_tag "schedule/scheduler-beta" %>

<h1>Scheduler Beta</h1>
<p>
  This is an beta version of the core scheduler. It is being fully overhauled,
  so not everything will work! Please, report bugs using the bug icon.
</p>

<div id="vue-app">
  <ul>
    <li v-for="category in categories"
      v-bind:style="{ backgroundColor: category.color }">
      {{ category.name }}
    </li>
  </ul>
</div>

<script>
  // TODO: Move category retrieval to a network request, so that it doesn't delay
  // loading and have this ugliness
  var categories = <%= raw current_user.categories.to_json(include: { repeat_exceptions: { only: :id } }) %>;
</script>
