<%= render "shared/header" %>
<h1 class="no-bold">Welcome to <span class="carpe-font" style="font-size: 54px;">Carpe</span></h1>
<h2 class="no-bold">Scheduling redefined for the modern age</h2>
<p>Cleaner, simpler, Carpe.</p>


