<h1 class="no-bold" style="margin-bottom: -20px;">
	Welcome to <span class="carpe-font" style="font-size: 54px;">Carpe</span>
</h1>
<h2 class="no-bold">Scheduling redefined for the modern age</h2>
<p>Cleaner, simpler, Carpe.</p>
<% if current_user and current_user.admin %>
<h2>Congrats, you are an admin!</h2>
<% end %>

