<% content_for :title do %> - Welcome<% end %>
<%= stylesheet_link_tag "activity" %>
<%= stylesheet_link_tag "profile" %>

<% if !current_user || !current_user.admin %>
	<h1 class="no-bold" style="margin-bottom: -20px;">
		Welcome to <span class="carpe-font" style="font-size: 54px;">Carpe</span>
	</h1>
	<h2 class="no-bold">Scheduling redefined for the modern age</h2>
	<p>Cleaner, simpler, Carpe.</p>
<% end %>

<% if current_user and current_user.admin %>
	
	<div id="greeting">
		<span class="greet-text">
		
		Hello again, <%= current_user.name.split(" ")[0] %>!
		
		<div class="greet-subt"><br />
		Check out the new sidebar, a quick way to know if your friends are free or not.
		<br /><a href="/schedule" class="greet-a">You can also just go directly to your schedule.</a></div>


		</span><br />

		
	</div>



	<div id="sidebar"> 
		
		<% if current_user and current_user.admin #only print this sandbox things for the el33ts %>

			<div id="friend-list">
			<% current_user.all_friendships.each do |arr| %>
				<% friendship = arr[0]; user = arr[1]; free = true %>
				<%= render "users/user_box_horizontal", user: user, friendship: friendship, free: free %>
			
			<% end%></div>
		<% end %>	
	</div>
	<% end %>
	