<% content_for :title do %> - Welcome<% end %>
<h1 class="no-bold" style="margin-bottom: -20px;">
	Welcome to <span class="carpe-font" style="font-size: 54px;">Carpe</span>
</h1>
<h2 class="no-bold">Scheduling redefined for the modern age</h2>
<p>Cleaner, simpler, Carpe.</p>
<% if current_user and current_user.admin %>
<a href="/admin" class="default"><span>Admin Panel</span></a>
<% end %>
<% if current_user and current_user.admin #only print this sandbox things for the el33ts %>
	<% current_user.all_friendships.each do |arr| %>
		<% friendship = arr[0]; user = arr[1]; free = true %>
		<br>
		<%= user.name %> is 
		<% @events = user.events.where(:date => DateTime.now.beginning_of_day...DateTime.now.end_of_day)%>
		<% @events.each do |e| %>
			<% if e.date < DateTime.now and e.end_date > DateTime.now %>
				busy with <%= e.name %>
				<% free = false %>
			<% end %>
		<% end %>
		<%= free ? "free" : "" %>
	<% end%>
<% end %>
