<h1 class="no-bold">
	About
</h1>

Carpe is a smart and intuitive scheduler designed to simplify life for its users, allowing <br>
for better time management, coordination, and a healthier and more balanaced life.