<% content_for :title do %> - About<% end %>
<%= stylesheet_link_tag "pages" %>

<h1 class="no-bold">
  About Carpe
</h1>

<div class="full-width">
  <div id="tiles-container" class="container">
    <div class="status-tile">
      <div class="image-container">
        <%= image_tag("pages/DogCatTweet.png") %>
      </div>
      <div class="tile-title">Better with friends, family, <br> and colleagues.</div>
      <p class="tile-text">
        Carpe is designed from the ground up to be a scheduler focused on social interaction. With Carpe you can share your schedule
        among the people you're connected to, know when they're free, and more.
      </p>
    </div>

    <div class="status-tile">
      <div class="image-container">
        <%= image_tag("pages/CalPerson.png") %>
      </div>
      <div class="tile-title">Share what you want, and <br> keep the private hidden.</div>
      <p class="tile-text">
        Your schedule is your life, and Carpe understands that. We've prioritized fully customizable privacy settings so you can
        stay in control of your schedule, making sure that everyone you interact with sees just the right things.
      </p>
    </div>

    <div class="status-tile">
      <div class="image-container">
        <%= image_tag("pages/PersonStatus-About.png") %>
      </div>
      <div class="tile-title">See what's going on in your <br> world at a glance</div>
      <p class="tile-text">
        In addition to the details of your own day, Carpe lets you view your connections' events right from the home screen so you'll know when they are on lunch break,
        busy with work, or anything else they choose to share.
      </p>
    </div>
  </div>
</div>

<h2 class="no-bold">
  Carpe is developed by
  <a href="http://www.indigobox.us" class="normal carpe-color" target="_blank">indigoBox Studios</a> in Chicago
</h2>
