<%= stylesheet_link_tag "pages" %>

<h1 class="no-bold">
	About
</h1>

<div class="full-width">
	<div id="tiles-container" class="container">
		<div class="status-tile">
			<div class="image-container">
				<%= image_tag("pages/DogCatTweet.png") %>
			</div>
			<div class="tile-title">Better with friends, family <br> and colleagues</div>
			<div class="tile-text">
			Carpe is designed from the ground up to be a scheduler focused on social interaction. Share your schedule with the people
			you care about, create collaborative schedules, and more.
			</div>
		</div>

		<div class="status-tile">
			<div class="image-container">
				<%= image_tag("pages/CalPerson.png") %>
			</div>
			<div class="tile-title">Share what you want, and <br> keep the private hidden</div>
			<div class="tile-text">
			Your schedule is your life, and we understand that at Carpe. We've prioritized fully customizable privacy settings, so you
			stay in full control of your schedule, and make sure that everyone you interact with sees just the right things.
			</div>
		</div>

		<div class="status-tile">
			<div class="image-container">
				<%= image_tag("pages/PersonStatus-About.png") %>
			</div>
			<div class="tile-title">See what your friends are <br> doing at a glance</div>
			<div class="tile-text">
			Carpe lets you see what your friends are doing right from the home screen, so you'll know when your friends are on lunch break,
			busy with work, or even if they are busy with something private.
			</div>
		</div>
	</div>
</div>

<!--
Carpe is a smart and intuitive scheduler designed to simplify life for its users, allowing <br>
for better time management, coordination, and a healthier and more balanaced life. Carpe is <br>
designed to allow users to share their schedule with friends, family and colleagues selectively <br>
for maximum productivity, privacy and happiness. Share when you're working with your partners, <br>
when you are free to hang out with your friends, and more. 
<br><br>
Carpe also keeps you updated on other people's schedules, letting you know when your friends<br>
are busy, even if you can't see what they are doing. You never have to worry about bothering<br>
your friends at an inconvenient time with Carpe.  

<br><br>

<b>
Carpe is developed by a team from 
<a href="http://www.indigobox.us" target="_blank">indigoBox Studios</a> in Chicago!
</b>
-->
