<h1 class="no-bold">
	About
</h1>

Carpe is a smart and intuitive scheduler designed to simplify life for its users, allowing <br>
for better time management, coordination, and a healthier and more balanaced life. Carpe is <br>
designed to allow users to share their schedule with friends, family and colleagues selectively <br>
for maximum productivity, privacy and happiness. Share when you're working with your partners, <br>
when you are free to hang out with your friends, and more. 
<br><br>
Carpe also keeps you updated on other people's schedules, letting you know when your friends<br>
are busy, even if you can't see what they are doing. You never have to worry about bothering<br>
your friends at an inconvenient time with Carpe.  

<br><br>

<b>
Carpe is developed by a team from 
<a href="http://www.indigobox.us" target="_blank">indigoBox Studios</a> in Chicago!
</b>