<h1>Category Viewer</h1>
<% categories = Category.all %>
<% categories.each do |category| %>
	Category | id: <%= category.id %> | name: <%= category.name %> | col: <%= category.color %> | user: <%= category.user_id %> 
	<br /> 
<% end %>
<% if categories.empty? %>
Whoops, there are no categories in this db.
<% end %>