<div class="page-container">
	<h1>Find Friends</h1>
	<% users = User.all %>
	<% users.each do |user| %>
	<div class="user-box">
		<div class="avatar">
			<% if user.image_url %>
			<img src="<%= user.image_url%>">
			<% else %>
			<img src="http://www.gravatar.com/avatar/?d=mm">
			<% end %>
		</div>
		<%= user.name %>
		<br>
		<% if current_user and current_user != user %>
		<% if !current_user.friends.include? user %>
			<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
		<% else %>
			<span class="friend-status">Friend</span>
		<% end %>
	<% end %>
	</div>
	<% end %>
</div>
