<div class="page-container">
	<h1 class="page-titler">Find your friends.</h1>
	<h3 class="page-desc">We've listed some people you may know to start. If you can't find someone, you can search for them below.</h3>
	<% users = User.all %>
	<% users.each do |user| %>
	<div class="user-box">
		<div class="avatar">
			<a href="/u/<%= user.id %>"><img src="<%= user.user_avatar(100) %>"></a>
		</div>
		<div class="name"><%= user.name %></div>
		<% if current_user and current_user != user %>
		<% if !current_user.is_friend?(user) %>
			<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post, :class => "default green" %>
		<% else %>
			<span class="friend-label">Friend</span>
		<% end %>
	<% end %>
	</div>
	<% end %>
</div>
