<script>
$(document).ready(function()
{
	$("#confirm-test").click(function()
	{
		confirmUI("Are you sure you want to launch?");
	});

	$("#alert-test").click(function()
	{
		alertUI("You fell for it!");
	});
});
</script>
<style>
	body {padding-bottom: 200px;}
	.loader{
		margin: 0 0 2em;
		height: 100px;
		width: 20%;
		text-align: center;
		padding: 1em;
		margin: 0 auto 1em;
		display: inline-block;
		vertical-align: top;
	}

	/*
	  Set the color of the icon
	*/
	svg path,
	svg rect{
		fill: #FF6700;
	}
</style>
<div style="position: relative;">
	<h2 class="zero-bot">The Sandbox</h2>
	<h3 class="zero-top zero-bot no-bold">Use this as a playpen to test out ideas and pass them around!</h3>
	<span class="small-text no-bold">Don't worry, nothing on this page actually does anything.</span>
	<br><br><br>

	User adder (for adding users to categories, inviting people to events, etc.)
	<%= form_tag("/search_users", method: "get", class: "user-entry") do %>
  		<%= text_field_tag(:q, nil, placeholder: "Search placeholderple", autocomplete: "off") %>
	<% end %>
	<br><br>


	Animated confirmation dialog <br>
	<span class="default red" id="confirm-test">Launch?</span>

	<br><br>
	
	Animated alert dialog <br>
	<span class="default" id="alert-test">Press Me!</span>

	<br><br>

	Schedule iframe <br>
	<% if Rails.env.production? %>
		<iframe src="http://www.carpe.us/schedule?uid=82&iframe=true" width="1000px" height="600px"></iframe>
	<% else %>
		<iframe src="http://localhost:5000/schedule?uid=4&iframe=true" width="1000px" height="600px"></iframe>
	<% end %>


	<!-- Loading Icon from https://codepen.io/aurer/pen/jEGbA -->
	<div class="loader loader--style2" title="1">
	  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
	  <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
	    <animateTransform attributeType="xml"
	      attributeName="transform"
	      type="rotate"
	      from="0 25 25"
	      to="360 25 25"
	      dur="1.0s"
	      repeatCount="indefinite"/>
	    </path>
	  </svg>
	</div>
</div>