<script>
$(document).ready(function()
{
	$("#confirm-test").click(function()
	{
		confirmUI("Are you sure you want to launch?");
	});

	$("#alert-test").click(function()
	{
		alertUI("You fell for it!");
	});
});
</script>
<style>
body {padding-bottom: 200px;}
</style>
<div style="position: relative;">
	<h2 class="zero-bot">The Sandbox</h2>
	<h3 class="zero-top zero-bot no-bold">Use this as a playpen to test out ideas and pass them around!</h3>
	<span class="small-text no-bold">Don't worry, nothing on this page actually does anything.</span>
	<br><br><br>

	User adder (for adding users to categories, inviting people to events, etc.)
	<%= form_tag("/search_users", method: "get", class: "user-entry") do %>
  		<%= text_field_tag(:q, nil, placeholder: "Search placeholderple", autocomplete: "off") %>
	<% end %>
	<br><br>


	Animated confirmation dialog <br>
	<span class="default red" id="confirm-test">Launch?</span>

	<br><br>
	
	Animated alert dialog <br>
	<span class="default" id="alert-test">Press Me!</span>

	<br><br>

	Schedule iframe <br>
	<% if Rails.env.production %>
		<iframe src="http://www.carpe.us/schedule?uid=82&iframe=true" width="1000px" height="600px">
	<% else %>
		<iframe src="http://localhost:5000/schedule?uid=4&iframe=true" width="1000px" height="600px">
	<% end %>
</div>