<%= render "shared/header" %>
<div id="cont-hold">
	<h1 class="no-bold">Your Schedule</h1>
	<h3 class="no-bold">It all starts here. The scheduling revolution</h3>
	
	<div id="sch-sidebar">
		Events
		<div class="sch-evnt sch-class">Class</div>
		<div class="sch-evnt sch-work">Work</div>
		<div class="sch-evnt sch-play">Play</div>
		<div class="sch-evnt sch-hangout">Hangout</div>
	</div>
	<div id="sch-main">
		<div id="sch-days">M | T | W | Th | F | S | Su</div>
	</div>
</div>
