<%= render "shared/header" %>
<%= javascript_include_tag "application"%>
<%= stylesheet_link_tag "jquery-ui.min" %>

<br /><div id="cont-hold">
	<h1 class="no-bold zero-bot">Your Schedule</h1>
	<h3 class="no-bold zero-top">It all starts here. The scheduling revolution</h3>
	
	<div id="sch-sidebar">
		<span id="evnt-desc" title="Drag these events onto the schedule to get started">Events</span>
		<div id="sch-tiles">
		<div class="sch-evnt sch-class">
			Class
			<img class="sch-evnt-close" src="/assets/close.png" onclick="removeEvent(this);">
		</div>
		<div class="sch-evnt sch-work">
			Work
			<img class="sch-evnt-close" src="/assets/close.png" onclick="removeEvent(this);">
		</div>
		<div class="sch-evnt sch-play">
			Play
			<img class="sch-evnt-close" src="/assets/close.png" onclick="removeEvent(this);">
		</div>
		<div class="sch-evnt sch-hangout">
			Hangout
			<img class="sch-evnt-close" src="/assets/close.png" onclick="removeEvent(this);">
		</div>
		</div>
	</div>
	<div id="sch-main">
		<div id="sch-days">
			<div class="sch-day-col">
				<span class="col-titler">Monday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Tuesday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Wednesday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Thursday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Friday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Saturday</span>
				<div class="col-snap evt-snap"></div>
			</div>
			<div class="sch-day-col">
				<span class="col-titler">Sunday</span>
				<div class="col-snap evt-snap"></div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function()
{
	var sideHMTL; //the sidebar html for restoration upon drops
	
	$("#evnt-desc").tooltip(); //toss a tooltip on the events text
	
	addDrag(); //add dragging, recursively
	
	//make the columns droppable
	$(".col-snap").droppable({
		drop: function( event, ui ) 
		{
			if(ui.draggable.parent().attr("id") == "sch-tiles")
			{
				var topVal = parseFloat(ui.draggable.css("top"));
				ui.draggable.css("top",topVal+6);
			}
			
	    	var element = ui.draggable.detach();
			$(this).append(element);
			ui.draggable.css("left","0px");
			ui.draggable.children(".sch-evnt-close").css("display","block");
			$(this).parent().css("background","");
		},
		over: function( event, ui ) {
			$(this).parent().css("background","rgb(255, 255, 151)");
		},
		out: function( event, ui ) {
			$(this).parent().css("background","");
		}
	});	
	
	addDates();
});

//the dragging function
function addDrag()
{
	$("#sch-sidebar .sch-evnt").draggable({
		containment: "window",
		snap: ".evt-snap",
		snapMode: "inner",
		appendTo: ".col-snap",
		revert: "invalid",
		revertDuration: 0,
		stack: ".sch-evnt",
		start: function(event, ui)
		{
			sideHTML  = $("#sch-tiles").html();
		},
		stop: function( event, ui ) 
		{
			$("#sch-tiles").html(sideHTML);
			$(this).css("position","absolute");
			addDrag();
		}
	});
}

function addDates()
{
	var currDate = new Date();
	var day = currDate.getDay();
	var date = currDate.getDate();
	var dayOffset = day - 1;
	var startDate;
	
	if(day == 0)
		startDate = date - 6;
	else
		startDate = date - dayOffset;
	
	$(".sch-day-col").each(function(index, col)
	{
		if(startDate == date) //if this is today
		{
			$(col).attr("id","sch-col-today");	
		}
		$(col).children(".col-titler").prepend(startDate + " ");
		startDate++;
	});
}

function removeEvent(elem)
{
	$(elem).parent().slideUp("normal", function() { $(this).remove(); } );
}
</script>
