<h1 class="no-bold">
	Status
</h1>
Carpe is currently in active development, and here you can find the different status of each component of Carpe

<h2 class="no-bold">
	Carpe - <b>Alpha</b>
</h2>
The basics of Carpe functionality, including basic scheduling with multiple views, basic social functionality such as <br>friendships and viewing other users' schedules with privacy settings has been created. However, there are plenty of bugs <br>
 and most of the functionality that will make Carpe unique is not complete.

<h3 class="no-bold">
	Monthly View - <b>Alpha</b>
</h3>
Monthly view works visually for the most part (with some bugs), but is read-only at the moment and is thus in the Alpha state.

<h3 class="no-bold">
	User Groups - <b>Development</b>
</h3>
User Groups are being worked on but are not functional and have not been released.