<h1>User Viewer</h1>
<% users = User.all %>
<% users.each do |user| %>
	User | id: <%= user.id %> | name: <%= user.name %>
<% end %>
<% if users.empty? %>
Woops, there are no users in this db.
<% end %>
