<%= stylesheet_link_tag "activity" %>

<div id="body">
  <main class="content">
    <span class="carpe-color">Current Events</span>

  </main>

  <aside id="group-overview-info" class="vertical flex-list sidebar with-horizontal-borders">
    <div>
      <h2>About</h2>
      <p><%= @group.description %></p>
    </div>

    <div>
      <div class="flex-list with-space-between">
        <h2>Members</h2>
        <%= link_to group_path(@group, view: :members), id="view-all-link" %>
      </div>

      <% "load 10ish members and disable horizontal scroll" %>
      <span id="members-preview" class="flex-list"></span>
    </div>

    <div>
      <h2>Recent Actions</h2>
      <% "10ish event cards heres. content generated goes in helper" %>
      <div id="recent-actions-container" class="vertical flex-list"></div>
    </div>
  </aside>
</div>