// Define variables

$carpe-orange: #ff7400;

// WCAG 2.1 AA compliant on a pure white or $grey background
$text-color: #393939;
$text-color-light: #6c6c6c;

$light-orange: #ffa500;
$grey: #f2f2f2;
$red: #ff4a4a;
$green: #3ebb3e;
