body 
{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}
.carpe-font /* Has the Carpe cool font */
{
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: rgb(255, 116, 0);
}
.header-main
{
	background: rgb(56, 56, 56);
	color: white;
	height: 40px;
	font-size: 20px;
}
.header-main a
{
	color: white;
	text-decoration: none;
	font-size: 18px;
}
#cont-hold
{
	width: 96%;
	height: 90vh;
	min-width: 800px;
	max-width: 1028px;
	margin-left: auto;
	margin-right: auto;
}
#sch-main
{
	width: 79%;
	background: rgb(207, 207, 207);
	height: 500px;
	border-radius: 5px;
	float: right;
	overflow-x: scroll;
	overflow-y: hidden;
}
#sch-sidebar
{
	width: 20%;
	height: 500px;
	background: rgb(207, 207, 207);
	font-size: 24px;
	border-radius: 5px;
	float: left;
}
.sch-evnt
{
	width: 90%;
	max-width: 150px;
	height: 100px;
	background: white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 16px;
}
#sch-days
{
	height: 100%;
	width: 1190px;
}
.sch-day-col
{
	height: 98%;
	width: 160px;
	float: left;
	margin: 5px;
	background: grey;
	border-radius: 5px;
}
.sch-class
{
	background: rgb(255, 115, 115);
}
.sch-work
{
	background: rgb(115,115,255);
}
.sch-play
{
	background: rgb(162, 98, 255);
}
.sch-hangout
{
	background: rgb(129, 253, 131);
}

/* Some handy tools */
.center-text
{
	text-align: center;
}
.no-bold
{
	font-weight: normal;
}
.zero-top
{
	margin-top: 0px;
	padding-top: 0px;
}
.zero-bot
{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
