body 
{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	width: 100%;
	min-width: 400px;
}
.carpe-font /* Has the Carpe cool font */
{
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: rgb(255, 116, 0);
}

.carpe-color, .carpe-font a
{
	color: rgb(255, 116, 0) !important;
}
#header-logo {
  float: left;
  height: 100%;
  position: relative;
}
.header-logintext {
	top:-5px;
	position:absolute;
}
.header-main
{
	background: rgb(242, 242, 242);
	color: rgb(200, 200, 200);
	height: 50px;
	font-size: 20px;
	text-align: left;
}
.header-text {
	padding-top:10px;
	left:150px;
	position:absolute;
	white-space: nowrap;
  overflow: hidden;
  width: 50%;
  transition: width 0.5s, opacity 0.5s;
}
.header-logintext {
	padding-top: 14px;
	right:10px;
	width:400px;
	text-align:right;
	position:absolute;
}
.header-main a
{
	color: rgb(106, 106, 106);
	text-decoration: none;
	font-size: 18px;
	transition: color 0.2s;	
}
.header-main a:hover
{
	color: orange;
}
#user-name-panel
{
	float: right;
	position: relative;
 	right: 0px;
 	padding-right: 20px;
 	padding-left: 10px;
 	height: 50px;
}
#user-panel
{
	display: none;
	position: absolute;
	right: 0px;
	top: 50px;
	height: 110px;
	width: 250px;
	z-index: 10;
	background-color: rgb(230, 230, 230);
	text-align:center;
	padding:10px;
	margin-bottom:10px;
}
#user-panel div
{
	padding: 5px 10px 5px 10px;
	width: 120px;
  margin-left: auto;
  margin-right: auto;
	transition: background 0.2s;
}
#user-panel div:hover
{
	background: white;
}
#user-panel div:hover > a
{
	color: orange;
}
#user-avatar
{
	float: right;
    position: relative;
    height: 100%;
    margin-left: 10px;
}
#user-avatar img:hover
{
	box-shadow: 0px 0px 3px grey;
}
#user-avatar img
{
	height: 80%;
    min-width: 40px;
	border-radius: 35px;
	border: solid orange 2px;
	margin-top: 7%;
}
#user-email
{
	 float: left;
    position: absolute;
    top: 24px;
    color: grey;
    right: 80px;
    font-size: 13px;

}
#menu-holder
{
  position: relative;
  left: -35px;
  transition: left 0.5s;
}


#cont-hold
{
	width: 96%;
	height: 90vh;
	/* min-width: 800px;
	max-width: 1028px; */
	margin-left: auto;
	margin-right: auto;
}
#sch-main
{
	width: calc(100% - 254px);
	/* background: rgb(230, 230, 230); */
	height: 76%;
	border-radius: 5px;
	float: right;
	overflow-x: auto;
	overflow-y: hidden;
}
#sch-sidebar
{
	width: 250px;
	height: 76%;
	background: rgb(253, 253, 253);
	font-size: 24px;
	border-radius: 5px;
	float: left;
	/*overflow-x:hidden;
	overflow-y:auto;*/
	position:relative;
}

.sch-evnt
{
	position: absolute;
	width: 150px;
	height: 88px; /* This should be 90px - borders top and bottom */
	background: white;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	/* border-radius: 5px;*/
	margin-top: 10px;
	font-size: 16px;
	overflow: hidden;
	/* Box sizing to make the borders on the inside 
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box; */
}
.col-snap .sch-evnt:hover > .sch-evnt-icon
{
	display: block;
}
#sidebar-title {
	font-size:18px;
	font-weight:900;
	text-align:right;
	color:rgb(100,100,100);
}

.col-snap .sch-cat-icon {
	display:none;
}
.sch-evnt-icon
{
	display: none;
	position: absolute;
	right: 3px;
	top: 3px;
	/* background: white; */
 	border-radius: 500px;
	width: 20px;
}
.sch-cat-icon
{
	/*display: none;*/
	position: absolute;
	right: 3px;
	top: 3px;
	/* background: white; */
 	border-radius: 500px;
	width: 20px;
}
.sch-evnt-close
{
	right: 3px;
	top: 3px;
}
.sch-evnt-edit
{
	right: 20px;
	top: 5px;
	width: 18px;
}
.sch-evnt-save {
	right:4px;
	top:20px;
	display:none;
}
.sch-evnt-editCat {
	left: 3px;
	top:3px;
	display:inline;
}
.sch-evnt-saveCat {
	right:4px;
	top:0px;
	display:none;
}
.sch-evnt-delCat {
	left: 22px;
	top:2px;
}
#sch-days
{
	height: 100%;
	width: 1410px;
	overflow:hidden;
}
.sch-day-col
{
	position: relative; /* Viktor added 1 am June 17 */
	height: 100%;
	width: 200px;
	float: left;
	min-width:160px;
	/*margin-left: 20px;
	margin-right:20px;*/
	
	/* border-left: solid 1px rgb(150,150,150);*/
	border-right: solid 1px rgb(150,150,150);
	/*border-radius: 5px;
	border-bottom: solid 2px rgb(48, 48, 48); */
}
#sch-col-today
{
	background-color:   rgb(255, 255, 115);
}
.sch-class
{
	background: rgb(255, 115, 115);
	border-bottom: solid 2px rgb(135, 54, 54);
}
.col-snap .sch-class:hover
{
	/* background: grey; */
}
.sch-work
{
	background: rgb(115,115,255);
	border-bottom: solid 2px rgb(56, 56, 128);
	top: 112px;
}
.col-snap .sch-work:hover
{
	/* background: grey; */
}
.sch-play
{
	background: rgb(162, 98, 255);
	border-bottom: solid 2px rgb(96, 67, 138);
	top: 224px;
}
.col-snap .sch-play:hover
{
	/* background: grey; */}
.sch-hangout
{
	background: rgb(129, 253, 131);
	border-bottom: solid 2px rgb(70, 140, 71);
	top: 336px;
}
.col-snap .sch-hangout:hover
{
	/* background: grey; */
}
#sch-tiles
{
	position: relative;
    margin-left: auto;
    margin-right: calc(auto+24);
    width: 100%;
    height: 88.5%;
    overflow-y: auto;
    overflow-x: hidden;
    /*background: gainsboro;*/
}
.col-snap	
{
	position: absolute; /* Viktor added 1 am June 17 */
	height: 430px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.evnt-desc
{
	display: none;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
 	overflow: hidden;
}
.evnt-desc:hover
{
	/* background: grey; */
}
.evnt-time
{
	display: none;
	position: absolute;
	float: left;
	margin-left: 2px;
	margin-top: 3px;
	font-size: 13px;
	color: rgb(40, 40, 40);
}
.evnt-title
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	height: 21px;
	overflow: hidden;
}
.evnt-date
{
	font-size: 24px;
	color:Orange;
	float: left;
	left: 10px;
	top:2px;
	position: relative;
}

/* Overlay CSS */
.ui-widget-overlay
{
	display: none;
	z-index: 1000;
}
.overlay-box
{
	display: none;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	
	background: rgb(230,230,230);
	border-radius: 5px;
	width: 500px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1001;
}
.overlay-title
{
	font-size: 24px;
	margin-top: 10px;
}
.overlay-desc
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.overlay-time
{
	position: absolute;
	float: left;
	margin-top: 19px;
	margin-left: 20px;
}


.ui-resizable-handle
{
	/* background-color: blue; */
	height: 10px !important;
}


/* Sign up and sign in styling */
label
{
	float: left;
}
.text-input
{
	width: 200px;
  height: 20px;
  border: solid 1px #D8D8D8;
  background-color: #F9F9F9;
}
.field
{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

/* Some handy tools */
.center-text
{
	text-align: center;
}
.no-bold
{
	font-weight: normal;
}
.no-float
{
	float: none;
}
.zero-top
{
	margin-top: 0px;
	padding-top: 0px;
}
.zero-bot
{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.dis-sel, .ui-tooltip-content, body
{
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}




/* Added by Robert and Viktor until EOF */

.sch-but {
	background: #CFCFCF;
	padding: 3px;
	border-radius: 5px;
	width: 100px;
	border-bottom: solid 2px #646464;
}

.sch-but:hover {
	margin-top: 1px;
	background-color: #DEDEDE;
}

.sch-but-holder {
	margin-bottom: 15px;
}

.sch-week-prev {
	float: left;
	margin-left: 21%;
}

.sch-week-next {
	float: right;
}

.category {
	border-bottom: solid 2px rgb(135, 54, 54);
	/*height:25px;
	font-size:18px;*/
}

.cat-add {
	background-color: #CFCFCF;
	left:0%;
	right:0%;
	width:100%;
	font-size:17px;
	opacity:0.9;
	height:24px;
	bottom:0px;
	position:absolute;
}

.cat-add:hover {
	background-color:rgb(255,220,200);
}

.color-swatch {
	display:inline-block;
	width:23px;
	height:23px;
	border: solid 2px grey;
	border-radius: 5px;
}
#friend-list {
	display: table;
}
.friend-listing {
	position: relative;
    width: 50%;
    height: 120px;
    float: left;
    transition: margin-left 0.5s;
}
.friend-details
{
	text-align: left;
	float: left;
	margin-left: 10px;
}
.friend-name
{
	font-size: 28px;
}

.evnt-numID {
	display:none;
}

.carpeheader {
	height:100%;
}


/* You can see my efforts in futility, if you so desire (not implemented yet) */

.col-titler {
	float: left;
	padding:5px;
	width:90%;
	left:10px;
	text-align:left;
}

.evnt-fulldate {
	font-size:14px;
	text-align:left;
	float:left;
	margin-left:20px;
	color:Gray;
}

/* Friends page stuff */
.avatar img
{
	border-radius: 100px;
	width: 80px;
	border: solid orange 3px;
}
.user-box
{
	width: 120px;
	height: 150px;
	margin-bottom: 10px;
	float: left;
}
.user-box .name
{
	font-size: 16px;
	margin-bottom: 7px;
}


/* Profile page stuff */
.profile-avatar
{
	float: left;
	margin-left: 30px;
	margin-top: 20px;
}
.profile-avatar img
{
	width: 150px;
	border-width: 3px;
}
#profile-header
{
	width: 100%;
	height: 200px;
}
#header-image
{
	width: 100%;
	height: 200px;
	position: absolute;
	z-index: -1;
	background-image: image-url("water_Krakkened.png");
	/* Source: url("https://wallpaperscraft.com/image/spring_blur_glass_storm_rain_drops_water_80956_3840x2400.jpg"); */
    /* background-size: 100%;
    background-position: 20% 40%;
    -webkit-filter: blur(0px) brightness(0.5); */
}
#header-mob-menu
{
  float: left;
  position: relative;
  background-color: #ED7D31;
  height: 50px;
  width: 65px;
  margin-right: -30px;
  cursor: pointer;
  overflow: hidden;
  left: -10px;
  transition: left 0.25s;
}
#header-mob-menu img
{
	position: relative;
	left: 10px;
	top: 7px;
	z-index: 1;
}
#profile-name
{
	float: left;
	color: white;
	margin-bottom: 0px;
}
#profile-friend
{
	position: relative;
	float: left;
	left: 10px;
	top: 5px;
}
#profile-info
{
	float: left;
    color: white;
    margin-left: 10px;
    margin-top: -8px;
    font-weight: bold;
}
.friend-label
{
	background-color: #5B5BFF;
    padding: 3px 15px 3px 15px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

/* General page things */
.page-titler
{
	color: orange;
	font-weight: normal;
	margin-bottom: 10px;
}
.page-desc
{
	color: grey;
	font-weight: normal;
	font-size: 1.3em;
	margin-top: 0px;
	margin-bottom: 30px;
}


#mobile-menu
{
  display: none;
  position: absolute;
  top: 50px;
  background-color: #FF8C3D;
  width: 113px;
  height: 80px;
  text-align: center;
  transition: width 0.5s;
}
#mobile-menu div{
  padding: 5px;
}
#mobile-menu a{
  color: white;
}


div.link-default /*container for default links */
{
  height: 30px;
  margin: 5px;
}
a.default /* default link styling */
{
	position: relative;
	padding: 3px 15px 3px 15px;
	background: orange;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 3px;
	transition: background 0.3s;
}
a.default:hover
{
	background: #FFC14E;
}
a.default.red
{
	background: #FD1A1A;
}
a.default.red:hover
{
	background: #FF4A4A;
}
a.default.green
{
	background: #18B918;
}
a.default.green:hover
{
	background: #39DA39;
}

.page-container
{
	width: 80%;
	max-width: 1220px;
	margin-left: auto;
	margin-right: auto;
	transition: width 0.5s;
}

input[type="submit"]
{
  background: none;
  border: none;
  color: orange;
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
}
input[type="submit"]:hover
{
  color: #FF8500;
}

input.danger
{
  color: white;
  background: red;
  border-radius: 5px;
  border-bottom: 1px white !important;
  padding: 3px 15px 3px 15px;
}
input.danger:hover
{
  color: white;
  background: #FF1515;
}
.google-sign-in
{
  background-color: whitesmoke;
  border: solid 2px #CACACA;
  border-radius: 5px;
  width: 190px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 5px 0px 5px;
  margin-top: -3px;
}
.google-sign-in a
{
  position: relative;
  text-decoration: none;
  color: #4285F5;
  top: 3px;
  left: 15px;
}
.google-sign-in img
{
  position: absolute;
  top: -8px;
  left: -40px;
  width: 35px;
}

.notice, .alert
{
  width: auto;
  padding: 5px 15px 5px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: 5px;
}
.notice
{
  background-color: #4BDC4B;
  color: white;
}
.alert
{
  background-color: #FF4A4A;
  color: white;
}

@media (max-width: 900px)
{
	.page-container
	{
		width: 95%;
	}
}
@media (max-width: 660px)
{
	.friend-listing
	{
		margin-left: calc(50% - 155px);
	}
	.header-text {width: 0px; opacity: 0;}
	/* #header-mob-menu {width: 55px;} */
	#header-mob-menu {left: 0px;}
	#mobile-menu {width: 146px;}
	#menu-holder {left: 0px;}
}

