/* Body styling to apply font, min-width and padding */
body
{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	width: 100%;
	min-width: 400px;
	box-sizing: border-box;
	padding-bottom: 10px;
	color: #393939;
}

/* HEADER + POSSIBLE OTHER USE CSS */
.carpe-font /* Has the Carpe cool font */
{
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: rgb(255, 116, 0);
}

.carpe-color, .carpe-font a
{
	color: rgb(255, 116, 0) !important;
}

/* Make sure inputs also have Open Sans */
input {
	font-family:Open Sans, sans-serif;
}

/* Sign up and sign in styling */
label
{
	float: left;
}
.text-input
{
	padding-left: 5px;
	width: 195px;
	height: 20px;
	border: solid 1px #D8D8D8;
	background-color: #F9F9F9;
}
.field
{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}


.avatar img
{
	border-radius: 100px;
	width: 80px;
	height: 80px;
	border: solid orange 3px;
	transition: box-shadow 0.25s;
	background: white;
}
a .avatar img:hover, .avatar a img:hover
{
	box-shadow: 0px 2px 2px #777;
}
.avatar.small img
{
    width: 40px;
    height: 40px;
    border: none;
    float: left;
    margin-right: 5px;
}

.friend-label
{
	background-color: #5B5BFF;
    padding: 3px 15px 3px 15px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    display: inline-block;
}
.cancel-box
{
	background-color: #FFB2B2;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5px 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #1D1D1D;
    border: dashed red 2px;
}
.pass-holder
{
	background: #E6E6E6;
    padding: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: solid #C1C1C1;
    margin-top: 10px;
}

/* General page things */
.page-titler
{
	color: orange;
	font-weight: normal;
	margin-bottom: 10px;
}
.page-desc
{
	color: grey;
	font-weight: normal;
	font-size: 1.3em;
	margin-top: 0px;
	margin-bottom: 30px;
}

/* LINK STYLING */
a.normal /* boring link styling */
{
  color: #313131;
  text-decoration: none;
}
a.normal:hover
{
  text-decoration: underline;
}
a.default
{
	text-decoration: none;
	display: inline-block;
}
a.default *, span.default, input.default /* default link styling */
{
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding: 3px 15px 3px 15px;
	background: orange;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 3px;
	transition: background 0.3s;
    box-shadow: 0px 1px 3px #B4AFAF;
    border: none;
    font-size: 16px;

    &:hover
    {
		background: #FFC14E;
    }

    &.disabled, &.disabled:hover
    {
		background: #B4AFAF;
		box-shadow: none;
    }
}
a.default.red *, span.default.red
{
	background: #FD1A1A;
	&:hover {background: #FF4A4A;}
}
a.default.green *, span.default.green
{
	background: #18B918;
	&:hover {background: #39DA39;}
}
/* END LINK STYLING */

.page-container
{
	position: relative;
	height: 100%;
	width: 80%;
	max-width: 1220px;
	margin-left: auto;
	margin-right: auto;
	transition: width 0.5s;
}

input[type="submit"]
{
	margin-top: 10px;
}
label.required::after
{
	content: "*";
	color: red;
	margin-left: 2px;
	font-weight: bold;
	font-size: 18px;
}

input.danger
{
  color: white;
  background: red;
  border-radius: 5px;
  border-bottom: 1px white !important;
  padding: 3px 15px 3px 15px;
}
input.danger:hover
{
  color: white;
  background: #FF1515;
}

.circle
{
	float: left;
	margin-top: 2px;
	margin-right: 5px;
	width: 18px;
	height: 18px;
	border-radius: 20px;
}
.circle.red
{
	background: #FD1A1A;
}
.circle.green
{
	background: #1CCF1C;
}

/* Google sign in button styling */
.google-sign-in div
{
  position: relative;
  background: whitesmoke;
  border: solid 2px #CACACA;
  border-radius: 5px;
  width: 190px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 5px 0px 5px;
  margin-top: -3px;
  transition: background 0.3s;
}
.google-sign-in span
{
  position: relative;
  top: 3px;
  left: 15px;
}
.google-sign-in div:hover
{
  background: #DCDCDC;
}
.google-sign-in
{
  text-decoration: none;
  color: #4285F5;
}
.google-sign-in img
{
  position: absolute;
  top: -1px;
  left: 4px;
  width: 35px;
}
.google-width
{
	width: 174px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
}

/* Devise's error stuff when forms have errors */
#error_explanation h2
{
    color: white;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 5px;
    background-color: #FF7272;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
#error_explanation ul
{
  margin: 0px;
  list-style: none;
}

.alert-holder
{
	position: absolute;
	width: 100%;
	top: 45px;
    z-index: 100;
    height: 20px;
    text-align: center;
}
.notice, .alert
{
  display: inline-block;
  width: auto;
  padding: 5px 15px 5px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: 5px;
  font-weight: bold;
}
.notice
{
  background-color: #3EBB3E;
  color: white;
}
.alert
{
  background-color: #FF4A4A;
  color: white;
}

@media (max-width: 900px)
{
	.page-container
	{
		width: 95%;
	}
	#users-search
	{
		display: none;
	}
}
@media (max-width: 660px)
{
	.header-text {width: 0px; opacity: 0;}
	/* #header-mob-menu {width: 55px;} */
	#header-mob-menu {left: 0px !important;}
	#mobile-menu {width: 146px;}
	#menu-holder {left: 0px !important;}
}

/*
 * TO BE SORTED
 */
.user-entry
{
	width: 500px;
	border-radius: 5px;
	border: solid 2px #CECECE;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;

	ul
	{
		padding: 0px;
    	margin: 5px 15px 10px 15px;
    }
	li
	{
		list-style: none; 

		&.token-input-token
		{
			display: inline-block;
			background: #F2F2F2;
			margin-right: 10px;
			padding: 0px 10px;
			border-radius: 5px;
		}
		.avatar
		{
			float: left;
			height: 36px;
			margin: 2px 0px;
			img {border-width: 2px; width: 30px; height: 30px;}			
		}
		&.token-input-input-token input {width: auto !important;}
		p 
		{
			margin: 0px 10px;
		}
		p, span
		{
			display: block;
			float: left;
			margin-top: 8px;
		}

	}
}
.user-box
{
    width: 132px;
    margin-bottom: 10px;
    float: left;
    padding: 10px 5px 5px 5px;
    min-height: 210px;
    background: #F5F5F5;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px silver;
}
.user-box .default, .user-box .friend-label
{
	margin-bottom: 5px;
}
.user-box .default span, .user-box .friend-label, .user-box span.default
{
	width: 100px;
}
.user-box .name
{
	font-size: 16px;
	margin-bottom: 7px;
}
.grey-box
{
	background: #F5F5F5;
    border-radius: 5px;
    box-shadow: 1px 1px 1px silver;
}
.square
{
	float: left;
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px 10px;
    color: white;
}
.home-event-tile
{
	display: inline-flex;
	width: auto;
	margin-bottom: 10px;
	padding-left: 8px;
	padding-right: 10px;
	padding-bottom: 5px;
}
.home-event-tile.current
{
	background: #ffc14e;
	box-shadow: 2px 2px rgb(238, 170, 43);
	border-radius: 5px;
    color: white;
}
.home-event-tile .tile-text
{
	position: relative;
	top: 2px;
	line-height: 1.1;
}
/* Thin forms like editing groups */
form.thin
{
	width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#bug-submission
{
	position: fixed;
    top: 60px;
    left: -130px;
	z-index: 1;
    background: #ED7D31;
    color: white;
	padding: 5px 25px 5px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: left 0.5s;
}
#bug-submission:hover
{
	left: -5px;
}
.group-cont
{
	width: 50%;
    margin-left: auto;
    margin-right: auto;
	background: #F2F2F2;
    padding: 5px 20px;
    border-radius: 5px;
    height: 70px;
    box-shadow: 2px 2px #C9C9C9;
    text-align: left;
}
.current-time
{
	font-size: 22px;
    color: grey;
}
/* END TO BE SORTED */

/* UTILITY STYLING - Some handy tools, should be kept at EOF */
.center-text
{
	text-align: center;
}
.no-bold
{
	font-weight: normal;
}
.no-float
{
	float: none;
}
.zero-top
{
	margin-top: 0px;
	padding-top: 0px;
}
.zero-bot
{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.dis-sel, .ui-tooltip-content, body
{
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.no-drag /* prevents images from being draggable */
{
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
}