body 
{
	font-family: 'Open Sans', sans-serif;
}
.carpe-font /* Has the Carpe cool font */
{
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: rgb(255, 116, 0);
}
.center-text
{
	text-align: center;
}
.no-bold
{
	font-weight: normal;
}
