html, body
{
	height: 100%;
}

#body
{
	display: flex;
	height: 100%;
	flex: 1;

	& > .sidebar
	{
		flex: 1;
		min-width: 300px;
		padding: 50px 10px 10px;
		text-align: center;
	}

	& > .content
	{
		display: flex;
		flex: 4;
		flex-direction: column;
		padding: 0 16px;
	}
}

.shaded {
	background: rgb(225, 225, 225);
}

.with-horizontal-borders {
	border-left: solid 2px #ACACAC;
	border-right: solid 2px #ACACAC;
}

#groups-list-header
{
	display: flex;
	flex: 0 1 128px;
	flex-direction: column;
	margin-top: 20px;
	text-align: left;
}

#header-info
{
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	height: 75%;
	padding: 0;
	text-align: left;
}

#groups-title
{
	display: flex;
	align-items: center;
}

.flex-list
{
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	align-content: flex-start;

	&.vertical
	{
		flex-flow: column;
	}

	&.with-space-between
	{
		align-content: space-between;
	}
}

/* base class, see .small-card and .large-card */
.card
{
	display: flex;
	align-items: center;
	margin: 15px;
	text-align: left;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: rgb(179, 179, 179) 3px 3px 7px;
	background: white;

	.round-avatar
	{
		margin-left: 2.5%;
		margin-right: 7.5%;
	}

	main
	{
		display: flex;
		flex: 3;
		align-items: flex-start;
		justify-content: flex-end;
		flex-direction: column;
		height: 90%;
		overflow: hidden;

		/* space out all of the items to the right of the avatar evenly*/
		& > *
		{
			margin-top: 5px;
			margin-bottom: 5px;
		}

		.title
		{
			height: 3em;
			line-height: 1.5em;
			font-size: 24px;
			font-weight: bold;
			overflow: hidden;
		}
	}
}

.small-card
{
	@extend .card;
	width: auto;
	height: 80px;
	margin: 10px 5px 10px 10px;

	main
	{
		justify-content: center;

		.title
		{
			display: flex;
			align-items: center;
			font-size: 18px;
			vertical-align: center;
		}
	}
}

.large-card
{
	@extend .card;
	width: 455px; /* width should be about 3x the length for a card-like shape */
	height: 175px;

	.group-title
	{
		height: 3em;
		width: 100%;

		line-height: 1.5em;
		font-size: 24px;
		font-weight: bold;

		color: #313131;
		text-decoration: none;
	}
}

.basic-member-block
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 400px;
	height: 200px;

	.round-avatar
	{
		margin-left: 5%;
		margin-right: 5%;
	}

	main
	{
		display: flex;
		flex: 3;
		height: 3em;
		line-height: 1.5em;
		font-size: 24px;
		font-weight: bold;
		overflow: hidden;
	}
}

.member-stats
{
	display: flex;
	align-items: center;
	width: 100%;

	h3
	{
		color: black;
		margin-right: 5px;
		font-weight: 500;
		font-size: 20px;
	}

	h4
	{
		color: dimgray;
		margin-right: 10px;
		font-weight: 500;
		font-size: 24px;
	}

	.buttons
	{
		display: flex;
		margin-left: auto;

		& > *
		{
			margin: 0 8px;
		}

		#member-search
		{
			min-width: 150px;
			min-height: 30px;
			padding-left: 10px;
			padding-right: 40px;

			background-image: url("search.svg");
			background-size: auto 65%;
			background-repeat: no-repeat;
			background-position: 95%;
			border: 1px solid dimgray;
		}
	}
}

#manage-members-container
{
	min-width: 720px;
	max-width: 1080px;
	margin: 0 auto;
	align-self: flex-end;
}

.subtle-container
{
	margin: 0 2.5%;
}

.group.profile-header
{
	.header-block
	{
		display: flex;
		align-items: center;
		text-align: left;
		width: 100%;
		height: 100%;

		.round-avatar
		{
			margin-left: 4%;
			margin-right: 2%;
		}
	}

	.profile-name-block
	{
		display: flex;
		flex-direction: column;
		color: white;
	}

	.privacy-block
	{
		display: flex;
	}

	.profile-name
	{
		font-size: 48px;
		font-weight: 500;
		text-shadow: 2px 2px black;
	}

	.profile-privacy
	{
		margin: 0 20px 0 0;
		font-size: 28px;
		font-weight: 400;
		text-shadow: 2px 2px black;
	}
}


.user-with-options
{
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: 0 1px 1px grey;

	.overview
	{
		height: 64px;
		padding: 8px;
		background: #efefef;

		display: flex;
		justify-content: space-between;

		.name-and-avatar
		{
			.round-avatar
			{
				margin-right: 16px;
			}
			display: flex;
			height: 100%;
		}

		.role
		{
			padding-right: 32px;
			background-image: url("dropdown-arrow.svg");
			background-size: auto 75%;
			background-repeat: no-repeat;
			background-position: 95% center;
		}

		&:hover
		{
			cursor: pointer;
		}
	}

	.options
	{
		display: flex; // starts hidden
		justify-content: space-between;
		padding: 8px;
		background: #efefef;
	}
}

// TODO: Selecting arbitrary z-index values seems like a bad idea.
.token-input-dropdown
{
	z-index: 1001;
}

#invite-members
{
	margin: 0 10px 0 5px;
}

#group-overview-info
{
	*
	{
		text-align: left;
	}
}