/* Header CSS */
@import 'colors';

.header-main
{
	background: rgb(242, 242, 242);
	color: rgb(200, 200, 200);
	height: 50px;
	font-size: 20px;
	text-align: left;
	position: relative;
	box-shadow: 0px 0px 8px grey;
	z-index: 15;
}
.menu
{
	border: solid 1px #bbbbbb;
	border-top: none;
	box-shadow: 0px 0px 3px grey;
}
.header-main a, .menu a
{
	color: rgb(106, 106, 106);
	text-decoration: none;
	font-size: 18px;
}
.header-main a:hover, .menu a:hover
{
	color: $light-orange;
}

/* The actual main navigation at the top of the header */
.header-text
{
	padding-top:10px;
	left:150px;
	position:absolute;
	white-space: nowrap;
	overflow: hidden;
	height: 50px;
	transition: width 0.5s, opacity 0.5s;

	a { margin-right: 25px; }
	.active { color: $light-orange; }
}


#user-name-panel
{
	float: right;
	position: relative;
	right: 0px;
	padding-right: 20px;
	padding-left: 10px;
	height: 50px;

	#user-menu-toggler {
		display: inline-block;
		cursor: pointer;
	}
	.name { line-height: 50px; }
	#user-avatar
	{
		float: right;
		position: relative;
		height: 100%;
		margin-left: 5px;
	}
	#user-avatar img:hover
	{
		box-shadow: 0px 0px 3px grey;
	}
	#user-avatar img
	{
		height: 40px;
		width: 40px;
		border-radius: 35px;
		border: solid $light-orange 2px;
		margin-top: 7%;
	}
	#user-email
	{
		float: left;
		position: absolute;
		top: 24px;
		color: grey;
		right: 80px;
		font-size: 13px;
	}
	.header-logintext
	{
		padding-top: 14px;
		right:10px;
		width:400px;
		text-align:right;
		position:absolute;
		top:-5px;
		position:absolute;
	}
}

#user-panel
{
	display: none;
	position: absolute;
	right: 15px;
	top: 50px;
	width: 270px;
	z-index: 10;
	background-color: rgb(230, 230, 230);
	text-align:center;
	padding:10px 0px;
	margin-bottom:10px;

	div
	{
		padding: 5px 10px 5px 10px;
		width: 250px;
		margin-left: auto;
		margin-right: auto;
		transition: background 0.2s;
	}
	div:hover
	{
		background: white;
	}
	div:hover > a
	{
		color: $light-orange;
	}
}

#menu-holder
{
	position: relative;
	left: -35px;
	transition: left 0.5s;
	height: 100%;
	float: left;

	#header-logo
	{
		float: left;
		height: 100%;
		position: relative;

		.carpeheader {
			height:100%;
		}
	}
	#header-mob-menu
	{
	  float: left;
	  position: relative;
	  background-color: #ED7D31;
	  height: 50px;
	  width: 65px;
	  margin-right: -30px;
	  cursor: pointer;
	  overflow: hidden;
	  left: -10px;
	  transition: left 0.25s;
	}
	#header-mob-menu img
	{
		position: relative;
		left: 10px;
		top: 7px;
		z-index: 1;
	}
	#mobile-menu
	{
	  display: none;
	  position: absolute;
	  z-index: 1;
	  top: 50px;
	  background-color: #FF8C3D;
	  text-align: center;
	  transition: width 0.5s;
	  width: 100vw;
	}
	#mobile-menu div{
	  padding: 5px;
	}
	#mobile-menu a{
	  color: white;
	}
}
/* notification stuffz */
.bell-hold
{
	float: left;
	position: relative;
	margin-top: 8px;
	margin-right: 15px;
	width: 25px;
	height: 25px;
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;

	&:hover
	{
		background-color: #D0D0D0;
	}
	img {width: 25px; }
	#num
	{
		position: absolute;
		border-radius: 100%;
		background-color: $light-orange;
		width: 16px;
		height: 15px;
		font-size: 11px;
		font-weight: bold;
		color: white;
		text-align: center;
		top: 20px;
		left: 22px;
		padding-bottom: 2px;
		padding-right: 1px;
	}
}
#notif-panel
{
	position: absolute;
	width: 350px;
	top: 50px;
	right: 15px;
	background: rgb(230, 230, 230);
	display: none;
	z-index: 10;
	padding: 5px 5px 5px 10px;
	color: rgb(106, 106, 106);

	.notif #user-avatar img
	{
		height: 36px;
		width: 36px;
		min-width: 0px;
		margin-top: 0px;
		border-width: 2px;
	}
	.notif #user-avatar
	{
		float: left;
		margin-left: 0px;
		margin-right: 5px;
	}
	.notif
	{
		padding: 3px 0px;
		height: 34px;
	}
	span
	{
		float: left;
		font-size: 18px;
		position: relative;
		top: 5px;
	}
	.notif.general
	{
		display: inline-block;
	}
	.notif.general div
	{
		font-size: 14px !important;
	}
	.confirm, .deny
	{
		width: 30px;
		border: solid 2px white;
		height: 30px;
		border-radius: 100%;
		display: inline-block;
		float: right;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.confirm
	{
		background-color: #00AF00;
		margin-left: 5px;
		background-image: image-url("checkmark-wht.png");
	}
	.deny
	{
		background-color: #FF4242;
		background-image: image-url("closeThick-wht.svg");
		background-size: 60%;
		background-position: 50%;
	}
	#no-notifs
	{
		font-size: 16px;
		padding: 15px;
	}
}
#users-search
{
	display: inline-block;
	z-index: 10;
}
#users-search input, #users-search-input
{
	box-sizing: border-box;
	height: 30px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 10px;
	padding-right: 30px;
	width: 150px !important;
	border-radius: 4px;
	box-shadow: 0px 0px 1px #CECECE;
	border: solid 1px #CECECE;
	background: white;
	background-image: image-url("search.svg");
	background-size: auto 65%;
	background-repeat: no-repeat;
	background-position: 97% 45%;
	transition: width 0.4s;
}
.token-input-input-token input
{
	border: none;
	background: transparent;
}
#users-search input:focus
{
	outline: none;
	width: 200px !important;
	border-color: #C0BABA;
}
/* TODO: Token input styling is general and shouldn't be here with the header */
.token-input-dropdown { text-align: center; }
#users-search ul, .token-input-dropdown ul
{
	padding: 0;
	margin: 0;

}
#users-search li, .token-input-dropdown li
{
	position: relative;
	list-style: none;
}
.token-input-dropdown li
{
	height: 45px;
	padding: 5px;
	cursor: pointer;
}
.token-input-dropdown .name
{
	position: absolute;
	top: 15px;
	left: 60px;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 70%;

	&.with-type { top: 10px; }
}
.token-input-dropdown .type
{
	position: absolute;
	left: 60px;
	top: 28px;
	font-size: 12px;
	opacity: 0.9;
}
.token-input-selected-dropdown-item
{
	background: #ED7D31;
	color: white;
}
.token-input-dropdown
{
	background: $grey;
	width: 212px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 0px 5px grey;
	z-index: 20;
	overflow: hidden;
}
.search-avatar img
{
	width: 40px;
	height: 40px;
	border-width: 2px;
}
.search-avatar
{
	float: left;
}
.new-tab-icon
{
	width: 14px;
	height: 14px;
	display: inline-block;
	background-image: image-url("new-tab.svg");
	background-size: 100%;
}
#new-tab-preload { display: none; }
a:hover > .new-tab-icon
{
	background-image: image-url("new-tab-orange.svg");
}
.tablet-br { display: none; }

@media (max-width: 1000px)
{
	.tablet-br  { display: block; }
	.header-text { height: 80px; }
	#users-search
	{
		box-sizing: border-box;
		background: $grey;
		border-radius: 5px;
		padding: 5px;
		width: 100%;
		margin-top: 8px;
	}
	#users-search input, #users-search input:focus { width: 100% !important; }
}
@media (max-width: 800px)
{
	.header-text {width: 0px; opacity: 0;}
	/* #header-mob-menu {width: 55px;} */
	#header-mob-menu {left: 0px !important;}
	#mobile-menu {width: 146px;}
	#menu-holder {left: 0px !important;}
}
/* END HEADER CSS */
