// Slide 1

h1 {
	display:block;
	font-weight: normal;
	font-size: 3vw;
	padding-bottom: 1vw;
	margin:0;
}

h2 {
	display:block;
	font-weight: normal;
	margin:0;
}

#home-sl1
{
	top: 0px;
	z-index:-2;
	height: 28vw;
	background-image: image-url("home_bg.png");
	background-size: cover;
	padding-top: 10vw;
	color: #FFF;
	overflow: hidden;

	h1 { letter-spacing: 3px;}
	h2 { font-size: 1.8vw; }
	.alphawarn
	{
		padding-top: 0.7vw;
		font-size: 1.4vw;
		padding-bottom: 2.5vw;
	}
}

.home-signup-btn
{
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding: 8px 110px 8px 110px;
	background: white;
	color: #ff7400;
	text-decoration: none;
	font-weight: 600;
	border-radius: 5px;
	transition: background 0.3s;
	border: none;
	font-size: 18px;
}

// Slide 2 & 4

.home-container{
	height: 46vw;
	display: flex;
	width:100%;
	position: relative;
	text-align: left;
	overflow: hidden;

	.home-container-text {
		order: 1;
		h2
		{
			font-size: 1.4vw;
			letter-spacing: 1px;
		}
	}
	.home-container-img {
		order: 2;
	}
	.home-container-text, .home-container-img {
		// position: relative;
		// top: 12vw;
		// height: 38vw;
	}
}

#home-sl2, #home-sl4
{
	background-color: #FFF;

	h1 { color: rgb(38,38,38); }

	h2 { color: rgb(64,64,64); }
	.home-container-text {
		left: 5vw;
	}
}


// Slide 3

#home-sl3
{
	flex-direction:row-reverse;
	background-image: image-url("sidebar_bg.jpg");
	background-size: cover;
	h1 { color: rgb(217,217,217); }
	h2 { color: rgb(217,217,217); }
	.home-container-text {
		right: 5vw;
	}
}

// Slide 5

#home-sl5
{
	background-color: rgb(232,136,64);
	position: relative;
	color: #FFF;
	padding-top: 7vw;
	padding-bottom: 7vw;


	h2
	{
		font-size: 1.6vw;
		padding-bottom: 2.5vw;
	}
}

@media (max-width: 700px)
{

	.home-container{
		height: auto;
		align-items:center;
		.home-container-text {
			width:50%;
			h1 { font-size: 1.5rem; }
			h2 { font-size: 1rem; }
		}
	}
	#home-sl1 {
		height: 20rem;
		h1 {
			font-size: 1.9rem;
			padding: 0px 1rem;
			letter-spacing: 0;
		}
		h2 {
			font-size: 1.2rem;
			padding: 0 4rem;
			margin-top: 3rem;
		}
		.alphawarn {
			display: none;
		}
		.home-signup-btn {
			margin-top: 3rem;
		}
	}
	#home-sl2 {
		#home-sl2-textcontainer {
			padding-left: 1rem;
		}
		#home-sl2-img {
			padding: 1rem 0;
			height: 100%;
			width: 50%;
		}
	}
	#home-sl3 {
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/office-meeting.jpeg);
		background-size: cover;
		#home-sl3-textcontainer {
			padding-right: 1rem;
		}
		#home-sl3-img {
			height: 100%;
			width: 50%;
			padding: 1rem 0;
		}
	}

	#home-sl4 {
		display: flex;
		flex-direction: column-reverse;
		#home-sl4-textcontainer {
			text-align: center;
	    width: auto;
	    padding-bottom: 3vw;
		}
		#home-sl4-img {
	    width: 90vw;
	    padding: 0 5vw;
		}
	}
	#home-sl5 {
		h1 { font-size: 1rem; }
		h2 { font-size: 0.8rem; }
	}
}