/* Shown on all the user profile pages */
@import 'colors';

$profile-photo-height: 150px;
$avatar-camera-height: 27px;
$cover-camera-height: 20px;

/* Profile page stuff */
.profile-avatar
{
	position: relative;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	z-index: 1;

	img
	{
		width: $profile-photo-height;
		height: $profile-photo-height;
		border-width: 3px;
	}
	.profile-overlay.avatar
	{
		width: $profile-photo-height;
		height: $profile-photo-height;
		border-radius: 100px;
		top: 3px;
		left: 3px;

		img
		{
			width: $avatar-camera-height;
			height: $avatar-camera-height;
			margin-top: $profile-photo-height / 2 - $avatar-camera-height;
		}
		span
		{
			margin-top: 7px;
			display: block;
		}
	}
}

.profile-avatar:hover
{
	.profile-overlay.avatar { opacity: 1; }
}

.profile-overlay
{
	position: absolute;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	transition: opacity 0.2s;

	&.cover
	{
		z-index: 100;
		top: 10px;
		right: 0;
		border: 1px solid white;
		padding: 5px 15px;

		img
		{
			width: $cover-camera-height;
			height: $cover-camera-height;
			vertical-align: top;
			margin-right: 10px;
		}
	}
	.camera-profile
	{
		opacity: 0.75;
		background: none;
		border-radius: 0;
		border: none;
	}
	.upload-profile
	{
		font-weight: bold;
		color: rgba(255,255,255,0.95);
	}
}

.profile-header
{
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	height: 200px;
	z-index: 0;
	overflow:hidden;
}

.header-image
{
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	z-index: 0;
	background-image: image-url("water_Krakkened.png");
	background-color: #848484; /* As a backup if the image is stupid */
	background-size: cover;
}

.profile-header:hover
{
	.profile-overlay.cover { opacity: 1; }
}

#profile-text
{
	position: relative;
	margin-left: -70px;
	top: 12px;
	z-index: 0;
	float: left;
	text-align: left;
	margin-top: 22px;
	background: rgba(0,0,0,0.5);
	padding: 5px 0px 10px 80px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
#profile-name
{
	float: left;
	color: white;
	width: 100%;
}
#profile-name a
{
	color: white;
	text-decoration: none;
}
#profile-follow
{
	float: left;
	width: 100%;
	margin-left: 10px;
	margin-bottom: 5px;
}
#profile-info
{
	display: inline-block;
	color: white;
	font-weight: bold;
	margin-left: 10px;
}
#profile-buttons
{
	z-index: 2;
	position: absolute;
	float: right;
	bottom: 0px;
	right: 0px;
	font-size: 0px;

	a { color: white; }
	div
	{
		background: #262626;
		display: inline-block;
		padding: 10px 15px 10px 15px;
		margin-left: -4px;
		font-size: 16px;

		&.curr { background: #ED7D31; }
		&:not(.curr):hover { color: #ED7D31; }
	}
}

#group-profile-buttons
{
	z-index: 2;
  float: right;
  bottom: 30px;
  font-size: 0px;
  margin-top: 16px;
  position: absolute;
  right: 25px;
  letter-spacing: 0.5px;

	a { color: white; }
	div
	{
		color: #262626;
		display: inline-block;
    padding: 10px 15px 10px 15px;
    margin-left: -4px;
    font-size: 17px;
    margin-right: 10px;

		&.curr {
			color: #007ec0;
			border-bottom: 3px solid #007ec0;
		}
		&:not(.curr):hover { color: #ED7D31; }
	}
}

.activity-listing
{
	height: 55px;
	text-align: left;
	margin: 10px 0px;
	padding: 5px 5px 5px 10px;
	width: 100%;
}
.activity-listing .text
{
	position: relative;
	left: 10px;
	top: 5px;
	margin-left: 50px;
	padding-right: 10px;
}
.empty-text
{
	position: relative;
	top: -15px;
}

#following-list
{
	width: 100%;
	text-align: center;
}
.user-listing
{
	position: relative;
	width: 300px;
	height: auto;
	margin: 10px;
	padding: 10px;
	transition: margin-left 0.5s;
	display: inline-block;
	text-align: left;

	.profile
	{
		width: 310px;
		padding: 10px 20px;

		.friend-details
		{
			position: relative;
			top: -5px;
			margin-top: 0px;
		}
	}
	#mutual-friends
	{
		position: relative;
		top: -3px;
	}
	a { text-decoration: none; }
	.avatar
	{
		display: inline-block;
		float: left;

		img { display: block; }
	}
}
.user-details
{
	text-align: left;
	margin-left: 10px;
	display: inline-block;
	max-width: 65%;
	margin-top: -5px;
	color: $text-color;
}
.user-name { font-size: 24px; }
.friend-button { margin-top: 0px !important; }

/* Make schedule in line with other content */
.page-container #cont-hold {
	width: 100%;
}
