/* Shown on all the user profile pages */

/* Profile page stuff */
.profile-avatar
{
	position: relative;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	z-index: 1;
}
.profile-avatar img
{
	width: 150px;
	height: 150px;
	border-width: 3px;
}
#profile-header
{
	position: relative;
	width: 100%;
	height: 200px;
	overflow:hidden;
}

#header-image
{
	width: 100%;
	height: 200px;
	position: absolute;
	z-index: -1;
	background-image: image-url("water_Krakkened.png");
	background-color: #848484; /* As a backup if the image is stupid */

	/* Source: url("https://wallpaperscraft.com/image/spring_blur_glass_storm_rain_drops_water_80956_3840x2400.jpg"); */
    /* background-size: 100%;
    background-position: 20% 40%;
    -webkit-filter: blur(0px) brightness(0.5); */

}
#header-image-blur
{
    width: 110%;
    top: -16px;
    left: -5%;
    height: 226px;
    position: absolute;
    z-index: -1;
    /* background-image: url(https://lh5.googleusercontent.com/-O0da35K3TG8/AAAAAAAAAAI/AAAAAAAAAdI/-Vqg-ZuvaDg/photo.jpg?sz=200); */
    background-size: cover;
    background-position: 0 50%;
    clip: rect(16px,160000px,216px,16px);
    background-blend-mode: initial;
    -webkit-filter: blur(10px) brightness(0.7);
    -moz-filter: blur(10px) brightness(0.7);
    filter: blur(10px) brightness(0.7);

}
#profile-text
{
	position: relative;
    margin-left: -70px;
    top: 12px;
    z-index: 0;
    float: left;
    text-align: left;
    margin-top: 22px;
    background: rgba(0,0,0,0.5);
    padding: 5px 0px 10px 80px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#profile-name
{
	float: left;
	color: white;
	width: 100%;
}
#profile-name a
{
  color: white;
  text-decoration: none;
}
#profile-friend
{
	float: left;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 5px;
}
#profile-info
{
	float: left;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}
#profile-buttons
{
  position: absolute;
  float: right;
  bottom: 0px;
  right: 0px;
  width: 270px;
}
#profile-buttons a
{
  color: white;
}
#profile-buttons div
{
  background: #262626;
  float: left;
  padding: 10px 15px 10px 15px;
}
#profile-buttons div.curr
{
  background: #ED7D31;
}

.activity-listing
{
  height: 55px;
  text-align: left;
  margin: 10px;
  padding: 5px 5px 5px 10px;
  border-radius: 8px;
  width: 95%;
  background-color: #F3F3F3;
  border: solid #CCCCCC 2px;
  margin-left: auto;
  margin-right: auto;
}
.activity-listing .text
{
	position: relative;
	left: 10px;
	top: 5px;
	margin-left: 50px;
	padding-right: 10px;
}
.empty-text
{
	position: relative;
	top: -15px;
}

#friend-list
{
	width: 100%;
	text-align: center;
}
.friend-listing
{
	position: relative;
    width: 300px;
	height: auto;
	margin: 10px;
	padding: 0px 10px;
	transition: margin-left 0.5s;
	display: inline-block;
	background: #F5F5F5;
	border-radius: 5px;
	box-shadow: 1px 1px 1px silver;
}
.friend-listing.profile
{
	width: 310px;
    padding: 10px 20px;
}
.friend-listing.profile .friend-details
{
	position: relative;
	top: -5px;
	margin-top: 0px;
}
.friend-listing #mutual-friends
{
	position: relative;
	top: -3px;
}
.friend-listing .avatar
{
	margin-top: 10px;
	float: left;
}
.friend-details
{
	text-align: left;
	float: left;
	margin-left: 10px;
	margin-top: 7px;
}
.friend-name
{
	font-size: 24px;
}
/*
.orng-bold-a {
	text-decoration:none;
	color:Orange;
}
@media (max-width: 660px)
{
	.friend-listing
	{
		margin-left: calc(50% - 155px);
	}
}
*/

a.simple {
	text-decoration:none;
	color:orange;
}