%center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scheduler-beta {
  .category {
    @extend %center-flex;
    width: 200px;
    height: 80px;
    color: white;
  }

  .category + .category { margin-top: 10px; }

  .category-list { list-style: none; }
}
