<tr>
  <td>
    <p>Hello <%= @resource.name %>!</p>

    <p>Someone has requested a link to change your password. You can do this through the link below:</p>

    <p class="centered">
      <%= link_to 'Reset My Password', edit_password_url(@resource, reset_password_token: @token), :class => 'cta-button' %>
    </p>

    <p class="small">
      If you didn't request this change, please ignore this email. Your password
      won't change until you access the link above and create a new one.
    </p>
  </td>
</tr>
