<!-- Authored by Viktor Koves of indigoBox studios on June 14th, 2015 -->

<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Carpe</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "carpe.css" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- Google font from "https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Open+Sans" -->
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <!-- Google font from "https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Pacifico" -->
</head>
<body>


<%= yield %>

</body>
</html>
